{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Add Record</h1>
    <br/>

    <form method="POST" action="{% url 'add_record' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group" style="margin-bottom: 15px;">
                {{ field }}
                {% if field.errors %}
                <span style="color: #dc3545; font-size: 15px;">
                        {{ field.errors }}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-secondary">Add Record</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}
